In [14]:
import pandas as pd

# Leer el archivo .xls y cargar los datos en un DataFrame
df = pd.read_excel("Precios-Mensuales-promedio-combustibles-Ciudad-de-Guatemala-mayo-2023-SERVICIO-COMPLETO.xlsx")

# Obtener el nombre de la columna para los meses
mes_column_name = df.columns[0]

# Usar melt para transformar las columnas de meses y años en una sola columna "year_month" y los valores de precio en una sola columna "value"
df_melted = df.melt(id_vars=mes_column_name, var_name="mes", value_name="value")

# Combinar las columnas "MES/AÑO" y "mes" en una sola columna "year_month"
df_melted["year_month"] = df_melted[mes_column_name].astype(str) + "-" + df_melted["mes"]

# Eliminar las columnas "MES/AÑO" y "mes" ahora que ya no son necesarias
df_melted.drop(columns=[mes_column_name, "mes"], inplace=True)

# Mostrar el DataFrame resultante
df_melted.head()

   value          year_month
0    NaN  MES/AÑO-Unnamed: 1
1    NaN    ENERO-Unnamed: 1
2    NaN  FEBRERO-Unnamed: 1
3    NaN    MARZO-Unnamed: 1
4    NaN    ABRIL-Unnamed: 1