In [6]:
import pandas as pd

# Leer el archivo .xls y cargar los datos en un DataFrame
df = pd.read_excel("Precios-Mensuales-promedio-combustibles-Ciudad-de-Guatemala-mayo-2023-SERVICIO-COMPLETO.xlsx")

"""# Renombrar la columna "MES/AÑO" a "mes"
df.rename(columns={"MES/AÑO": "mes"}, inplace=True)

# Usar la función melt para transformar las columnas de año en una sola columna "año" y los valores de precio en una sola columna "precio"
df_melted = df.melt(id_vars="mes", var_name="año", value_name="precio")

# Combinar las columnas "año" y "mes" en una sola columna "año_mes"
df_melted["año_mes"] = df_melted["año"].astype(str) + "-" + df_melted["mes"]

# Eliminar las columnas "mes" y "año" ahora que ya no son necesarias
df_melted.drop(columns=["mes", "año"], inplace=True)

# Mostrar el DataFrame resultante
print(df_melted)"""

df.head()

,GASOLINA SUPERIOR - CON ADITIVO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,PRECIOS PROMEDIO DE COMBUSTIBLES A CONSUMIDOR FINAL MODALIDAD SERVICIO COMPLETO\nCIUDAD CAPITAL\nQUETZALES/GALON,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,MES/AÑO,NaN,2001.00,2002.00,2003.00,2004.00,NaN,2005.00,2006.00,2007.00,...,2014.00,2015.00,2016.00,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00
1,ENERO,NaN,14.92,13.37,16.34,16.80,NaN,19.80,23.31,23.62,...,35.26,22.36,21.01,25.31,26.47,23.72,26.17,24.34,32.05,35.76
2,FEBRERO,NaN,15.17,13.23,17.21,18.05,NaN,19.25,22.98,22.65,...,34.46,25.92,20.03,24.51,26.27,24.54,25.12,26.07,34.55,35.54
3,MARZO,NaN,14.97,13.63,18.30,18.68,NaN,20.46,22.85,24.00,...,34.81,25.61,21.70,24.03,26.43,26.49,24.15,28.24,39.83,34.95
4,ABRIL,NaN,14.91,15.18,17.42,19.16,NaN,22.70,25.36,26.35,...,35.66,26.17,22.91,24.81,27.74,28.48,19.44,28.54,39.37,36.87